
@import "../base/mixin";


#casas {
        .div-contenedor-casas {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-image: url(../../imagenes/Casas-hogwarts-fondo.jpg);
            background-size: cover;
            background-color: rgba(0, 0, 0, 0.50);
            width: 100%;
            height: 900px;
        }
    }

    .bg-color-transparente{
        background-color: rgba(0, 0, 0, 0.50);
    }
