/**--------------------Publicidad--------------------------------------**/

.publicidad-ollivanders {
    height: 19rem;
    background-image: url(../../imagenes/publicidad-ollivanders.jpg);
    margin: 1.5rem;
}

.publicidad-gringotts {
    height: 19rem;
    background-image: url(../../imagenes/publicidad-flourish.jpg);
    margin: 1.5rem;
}

.publicidad-flourish {
    height: 19rem;
    background-image: url(../../imagenes/publicidad-flourish.jpg);
    margin: 1.5rem;
}

.publicidad-premium {
    height: 19rem;
    background-image: url(../../imagenes/publicidad-premium.jpg);
    margin: 1.5rem;
}

@media only screen and (max-width:480px) {

    .publicidad-premium,
    .publicidad-flourish,
    .publicidad-gringotts,
    .publicidad-ollivanders {
        display: none;
    }
}