#quidditch {
    .div-contenedor-quidditch {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../../imagenes/snich-dorada.jpg);
        background-size: cover;
        margin: 2rem;

        .partidos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 2rem;

        }

    }
}

.background-quidditch {
    background-color: rgba(255, 255, 255, 0.30);
}

@media only screen and (max-width:450px) {
    .div-contenedor-quidditch {
        flex-direction: column;
    }
    
}

